.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

body {
    background-color: #f1f1f1
}
#main{
    min-height: 540px;
    padding: 20px;
    background-color: #ffffff;
}
.control{
    font-size: 14px;
    margin: 10px;

}
 .control a {
    color: #999999;
}

 article{
     border: 1px solid gainsboro;
     padding: 2px;
 }

 .post{
     border: 1px solid gainsboro;
     margin: 4px;
     padding: 4px;
 }
#post_img{
    height: 250px;
    display: none;
}
.content-body{
    border-top: 1px dashed darkgrey ;
    padding:10px;
}